---
layout: default
title: Home
position: 0
hide_cta: true
permalink: index.html
---
<div class="jumbotron jumbotron-fluid">
    {%- assign imagePath = 'Studentenstadt_at_night_panorama.jpg' -%}
    <img
        alt="Studentenstadt bei Nacht"
        class="jumbotron__background"
        sizes="100vw"
        src="{{ imagePath | asset: 'magick:resize=1920 @path' }}"
        srcset="
            {{ imagePath | asset: 'magick:resize="2960x" @path' }} 2960w,
            {{ imagePath | asset: 'magick:resize="1920x" @path' }} 1920w,
            {{ imagePath | asset: 'magick:resize="1600x" @path' }} 1600w,
            {{ imagePath | asset: 'magick:resize="1440x" @path' }} 1440w,
            {{ imagePath | asset: 'magick:resize="1280x" @path' }} 1280w,
            {{ imagePath | asset: 'magick:resize="1080x" @path' }} 1080w,
            {{ imagePath | asset: 'magick:resize="800x" @path' }} 800w,
            {{ imagePath | asset: 'magick:resize="750x" @path' }} 750w,
            {{ imagePath | asset: 'magick:resize="720x" @path' }} 720w,
            {{ imagePath | asset: 'magick:resize="640x" @path' }} 640w
        "
    />

    <div class="container text-light">
        <div class="text-center">
            <svg viewBox="0 0 1101 545" class="w-50 mb-4">
                <use
                    href="{% link assets/img/stusta_alumni_logo_mit_unterschrift.svg %}#logo_mit_unterschrift"
                ></use>
            </svg>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{% link mitglied-werden.liquid %}">Mitglied werden</a>
            </p>
        </div>
    </div>
</div>

<div class="container">
    <h1 class="text-primary">Wer wir sind</h1>
    <p>
        Der der StuSta-Alumni e. V. ist ein Verein ehemaliger und aktueller Bewohner
        der Studentenstadt Freimann. Der Verein wurde im Sommer 2009 von Mitgliedern
        der Heimselbstverwaltung gegründet – zunächst mit dem Ziel, die Heimselbstverwaltung
        in Situationen zu Unterstützen, die zwingend eine juristische Person erfordern.
        Heute verfolgt der Verein aber viel mehr als das. Die aktuelle Vereinsarbeit
        des StuSta-Alumni e. V. haben wir unter folgende Schlagworte gestellt:
        vernetzen – fördern – informieren
    </p>

    <div class="row mt-5">
        <div class="col-md-4 img-fluid">
            <h2>Vernetzen</h2>
            <p>
                In der heutigen (Berufs-)Welt sind gute Kontakte unverzichtbar. Obwohl
                verschiedene soziale Netzwerke es eigentlich immer leichter machen, in
                Verbindung zu bleiben, verlieren sich doch die vielen Kontakte, die man
                im Laufe der Zeit innerhalb der StuSta geknüpft hat, auf unterschiedlichen
                Plattformen.<br>
                <button
                    type="button"
                    class="btn vernetzen-expand collapse show"
                    data-toggle="collapse"
                    data-target=".vernetzen-expand"
                >mehr</button>
                <span class="collapse vernetzen-expand">
                    Hier schaffen wir durch den Alumni-Verein eine gemeinsame
                    Basis. Durch den Verein können die Mitglieder den Kontakt zu ehemaligen
                    Mitbewohnern und Amtsträgern erhalten, aber natürlich auch neue Kontakte
                    zu Personen knüpfen, die früher oder später als sie selbst in der StuSta
                    gewohnt haben. Schließlich profitieren alle von diesen Kontakten – egal,
                    ob sich diese Beiziehungen auf die private Ebene beschränken oder auch
                    beruflich genutzt werden (Kontakte in Unternehmen für Abschlussarbeiten
                    oder Jobangebote, Recruiting, etc.). Unser Alumni-Netzwerk bildet künftig
                    eine interessante Mischung von Persönlichkeiten aus unterschiedlichen Fachbereichen
                    und StuSta-Generationen, die aber alle den gemeinsamen Punkt „StuSta“ im
                    Lebenslauf haben.
                </span>
            </p>
        </div>

        <div class="col-md-4">
            <h2>Fördern</h2>
            <p>
                Schon heute unterstützt der Alumni-Verein die Betriebe der Studentenstadt
                und fördert damit das studentische Leben in der Wohnanlage.<br>
                <button
                    type="button"
                    class="btn foerdern-expand collapse show"
                    data-toggle="collapse"
                    data-target=".foerdern-expand"
                >mehr</button>
                <span class="collapse foerdern-expand">
                    Unser Ziel ist es, die Förderung kontinuierlich auszubauen, sei es durch von uns organisierte
                    Veranstaltungen, finanzielle Förderung von aktuellen Projekten in der StuSta
                    oder Mentoring von Bewohnern. Hier haben die Vereinsmitglieder die Möglichkeit,
                    sich aktiv einzubringen und so den aktuellen Bewohnern zu helfen.
                </span>
            </p>
        </div>

        <div class="col-md-4">
            <h2>Informieren</h2>
            <p>
                Der Alumni-Verein hat es sich zur Aufgabe gemacht, sowohl die aktuellen
                Geschehnisse der StuSta für ehemalige Bewohner zu dokumentieren, als auch
                die Geschichte der StuSta zu archivieren.<br>
                <button
                    type="button"
                    class="btn informieren-expand collapse show"
                    data-toggle="collapse"
                    data-target=".informieren-expand"
                >mehr</button>
                <span class="collapse informieren-expand">
                    Durch den halbjährlich erscheinenden Newsletter erhalten die Vereinsmitglieder exklusive
                    Infos aus der StuSta. Der Verein trägt hierfür die wichtigsten Neuigkeiten aus
                    dem Studentenwerk, der Heimselbstverwaltung, und dem studentischen Leben
                    der StuSta zusammen, und stellt sie den Vereinsmitgliedern übersichtlich
                    aufbereitet zur Verfügung. Darüber hinaus sammelt und bewahrt der Alumni-Verein
                    die Archive der einzelnen Häuser. Die Unterlagen aus der Heimselbstverwaltung
                    werden vom Alumni-Verein geordnet und ergänzt und direkt in der StuSta
                    in einem eigenen Archiv-Raum gelagert. So schaffen wir durch unser Archiv,
                    das schrittweise für interessierte Vereinsmitglieder zugänglich gemacht
                    wird, einen umfassenden und in dieser Vollständigkeit bisher nie dagewesenen
                    Überblick über die Geschichte der StuSta.
                </span>
            </p>
        </div>
    </div>
</div>
